@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  @apply bg-[#f9f7f1] text-stone-900 antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif;
}
