# Voxify Configuration Example

# Voice to use for synthesis
voice = "fr-FR-VivienneMultilingualNeural"

# Number of files to process concurrently when running locally
concurrency_limit_local = 30

# Number of files to process concurrently when using the TTS API
concurrency_limit_tts = 10

# Maximum number of retries for failed TTS requests
max_retries = 4
