---
import { getCollection } from 'astro:content';
import LayoutPlayer from '../../layouts/LayoutPlayer.astro';
import AudioPlayer from '../../components/AudioPlayer.astro';
import VoiceVisualizer from '../../components/VoiceVisualizer.astro';
import { formatFrenchDate } from '../../utils/formatDate';

export async function getStaticPaths() {
  const newsEntries = await getCollection('news');
  return newsEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;

const formattedDate = formatFrenchDate(entry.data.date);
---
<LayoutPlayer title={`Lecture : ${entry.data.title}`}>
  <AudioPlayer title={entry.data.title} slug={entry.slug} formattedDate={formattedDate} />
  
  <div class="flex items-center justify-center w-full">
    <div class="w-full">
      <VoiceVisualizer />
    </div>
  </div>
</LayoutPlayer>
